---
import ImageSlider from "../components/ImageSlider.astro"
import NavBar from "../components/NavBar.astro"

import ProductDetails from "../components/ProductDetails.astro"

import '@fontsource-variable/kumbh-sans';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<NavBar />
	<ImageSlider/>
	<ProductDetails />
</body>
</html>

<style is:global>
	::root {
		--mainOrange: '#FF7E1B',
	}
	body {
		font-family: 'Kumbh Sans Variable', sans-serif;
	}

</style>